
@border-cover: 0.5ex solid black;

.poetsapart-frontpage {

  .cover {

    margin: 4em;
    @media (min-width: @screen-sm-min) {
      border: 0.75ex solid black;
      padding: 2em;

      display: inline-block;
    }
    text-align: center;

    h1 {
      font-family: "Roboto Slab", serif;
      text-transform: uppercase;
      margin: 2em;
      font-size: 400%;
    }

    p {
      border-top: 0.5ex solid black;
      padding-top: 1em;
      padding-bottom: 0.5em;
      font-family: "Garamond", serif;
      font-size: 200%;
    }
  }

  nav {
    display: block;
    font-size: 150%;
    font-family: @font-family-serif;
    font-style: italic;
    text-transform: lowercase;
  }
}


.poetsapart-listing {

  .frame {

    margin: 4em;

    @media (min-width: @screen-sm-min) {
      border: 0.75ex solid black;
      padding: 2em;
      display: inline-block;

      h1 {
        min-width: 10em;
      }
    }

    text-align: center;

    h1 {
      font-family: "Roboto Slab", serif;
      text-transform: uppercase;
      margin: 1.5em;

      font-size: 400%;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 1ex;
        padding: 0;
        font-family: "Roboto Slab", serif;
        text-transform: lowercase;
        font-size: 175%;
      }
    }
  }

  nav {
    display: block;
    font-size: 100%;
    font-family: @font-family-serif;
    font-style: italic;
    margin-top: 5em;
  }
}



.poetsapart-poem {

  .no-frame {

    margin: 1em;
    @media (min-width: @screen-sm-min) {
      margin: 4em;
      display: inline-block;

      pre {
        margin: 2em;
      }
    }
    text-align: center;

    h1 {
      font-family: "Roboto Slab", serif;
      text-transform: lowercase;
      margin: 1em;
      font-size: 450%;
      max-width: 10em;
    }

    pre {
      border: none;
      background: none;
      font-family: "Garamond", serif;
      font-style: normal;
      font-size: 200%;
      text-align: left;
    }

    .initials {
      text-align: right;
      font-family: "Garamond", serif;
      &::before {
        content: "— ";
      }
      margin-top: 2em;
    }
  }

  nav {
    border-top: @border-cover;
    padding-top: 1em;
    margin: 3em 0em;
    display: block;
    font-size: 140%;
    font-family: @font-family-serif;
    text-transform: lowercase;
    font-style: italic;
  }
}
