{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH poems #}
{# This page can use any data from http:localhost:2000/cms/#/form/poems/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this poems's name to the site title defined in base.html #}
{% block title %}{{ item.name }}{% endblock %}
{% block content %}


  <div class="poetsapart-poem text-center">
    <div class="no-frame">
      <h1>{{ item.name }}</h1>
      <pre>{{ item.body }}</pre>
      <h3 class="initials ">{{ item.author_initials }}</h3>
      <nav><a href="{{ url('poems') }}">More &raquo;</a></nav>
    </div>
  </div>




{% endblock %}
